{{ define "main" }}
  <div class="container">
    <h1>OpenGeoSys Documentation</h1>
    {{ .Content }}
    <div class="flex flex-wrap">
    {{ range .Params.sections }}
      <div class="w-full sm:w-1/2 lg:w-1/3 p-3 my-3">
        <h2 class="mb-2 text-center text-base md:text-lg lg:text-xl xl:text-2xl">
          <a href="{{ .url }}">
            {{ .name }}
            {{ $url_first_char := substr .url 0 1 }}
            {{ if not (eq $url_first_char "/") }}
              <i class="text-xs align-top fas fa-external-link-alt"></i>
            {{ end }}
          </a>
        </h2>
        <p>{{ .text }}</p>
      </div>
    {{ end }}
    </div>
  </div>
{{ end }}
