$header-font-family: athelas;
$text-font-family: avenir;
$code-font-family: code;

@import 'tachyons-sass/tachyons';

// Fonts
h1, h2, h3, h4, h5, h6 { @extend .#{$header-font-family}; }
body, p { @extend .#{$text-font-family}; }
code, pre { @extend .#{$code-font-family}; }

// Header
h1 { @extend .f2; }
h2 { @extend .f3; }
h3 { @extend .f4; }

// Text
a {
  @extend .link;
  @extend .hover-orange;
}

p, li {
  @extend .lh-copy;
  @extend .f5;
}

// Code
code, pre {
  @extend .lh-solid;
  @extend .f6;
}

pre {
  @extend .bg-near-white;
  @extend .pa2;
}

// Nav
.nav-a-style {
    @extend .gray;
    @extend .dim;
    @extend .dib;
}
nav {
    @extend .pa3;
    @extend .pa4-ns;

    a {
        @extend .nav-a-style;
        @extend .f6;
        @extend .f5-ns;
        @extend .mr3;


    }
    a.active {
        @extend .orange;
    }
}

// Image
img {
    @extend .mw-100;
}

// Docs

// OS selector
#btn-win, #btn-linux, #btn-mac {
    @extend .f6;
    @extend .link;
    @extend .dim;
    @extend .ba;
    @extend .bw1;
    @extend .ph3;
    @extend .pv1;
    @extend .mb2;
    @extend .dib;
    @extend .black;
}

#btn-win.active, #btn-linux.active, #btn-mac.active {
    @extend .orange;
}

.note {
    @extend .pv1;
    @extend .ph4;
    @extend .bg-washed-yellow;
}

// Side nav
ul.sidenav {
    @extend .list;
    @extend .pl0;
    li {
        @extend .f5;
    }
    li.category {
        @extend .#{$header-font-family};
        @extend .small-caps;
        @extend .mt1;
    }
    a {
        @extend .nav-a-style;
        @extend .f6;
    }
    a.active {
        @extend .orange;
    }
}

// Footer nav-a-style
.footer-nav {
    a {
        @extend .f6;
    }
}

.page-info {
    p {
        @extend .f6;
        max-width: 100%;
    }
}

// Vis
.vis {
    figcaption {
        @extend .f6;
    }
}
