{{ define "main" }}

  <div class="col-xs-4">
    <h2>Content</h2>
    <ul>
    {{ range .Site.Sections }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
    {{ end }}
    {{ range .Data.Pages }}
      {{ if eq .Type "page" }}
        <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
      {{ end }}
    {{ end }}
    <li><a href="/news">News</a></li>
  </div>

  <div class="col-xs-8">
    <h1>Benchmark documentation site</h1>
    <p>For the moment this site contains just the <a href="/docs/benchmarks"><i class="fas fa-arrow-right"></i> benchmark documentation</a> for <a href="https://github.com/ufz/ogs6">OpenGeoSys-6</a>.
    </p>
  </div>

{{ end }}
