{{ define "main" }}

<nav aria-label="Breadcrumb" class="flex mb-4">
  <ol role="list" class="flex items-center space-x-4">
    <li>
      <div>
        <a href="/" class="text-gray-400 hover:text-gray-500 dark:text-gray-500 dark:hover:text-gray-300">
          <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true" class="size-5 shrink-0">
            <path
              d="M9.293 2.293a1 1 0 0 1 1.414 0l7 7A1 1 0 0 1 17 11h-1v6a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1v-3a1 1 0 0 0-1-1H9a1 1 0 0 0-1 1v3a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1v-6H3a1 1 0 0 1-.707-1.707l7-7Z"
              clip-rule="evenodd" fill-rule="evenodd" />
          </svg>
          <span class="sr-only">Home</span>
        </a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true"
          class="size-5 shrink-0 text-gray-400 dark:text-gray-500">
          <path
            d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
            clip-rule="evenodd" fill-rule="evenodd" />
        </svg>
        <a href="/docs/"
          class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200">Docs</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true"
          class="size-5 shrink-0 text-gray-400 dark:text-gray-500">
          <path
            d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
            clip-rule="evenodd" fill-rule="evenodd" />
        </svg>
        <a href="/hub/"
          class="ml-4 text-sm font-medium text-gray-500 hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200">HUB</a>
      </div>
    </li>
    <li>
      <div class="flex items-center">
        <svg viewBox="0 0 20 20" fill="currentColor" data-slot="icon" aria-hidden="true"
          class="size-5 shrink-0 text-gray-400 dark:text-gray-500">
          <path
            d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
            clip-rule="evenodd" fill-rule="evenodd" />
        </svg>
        <a href="#" aria-current="page"
          class="ml-4 text-sm font-medium text-blue-700 font-black hover:text-gray-700 dark:text-gray-400 dark:hover:text-gray-200">{{
          .Params.abbreviation }}</a>
      </div>
    </li>
  </ol>
</nav>

<div class="flex">

  <div class="section-docs prose prose-sm lg:prose max-w-none lg:max-w-none">

    <div class="flex items-center gap-6 mb-6">
      {{ $logo := .Resources.Get "logo.svg" }}
      {{ if not $logo }}
      {{ $logo = .Resources.Get "logo.png" }}
      {{ end }}
      {{ if not $logo }}
      {{ $logo = .Resources.Get "logo.jpg" }}
      {{ end }}

      {{ with $logo }}
      <div class="flex-shrink-0 mx-4">
        <img src="{{ .RelPermalink }}" alt="logo" class="h-16 lg:h-24 w-auto max-w-none">
      </div>
      {{ end }}
      <h1 class="text-2xl font-bold">
        {{ .Title }}{{ if .Params.abbreviation }} – {{ .Params.abbreviation }}{{ end }}
      </h1>

    </div>

    {{ .Content }}
    <h2>Examples</h2>
    <div class="prose">
      <ul class="mx-4 leading-tight">
        {{ range .Page.Params.links }}
        <li><a class="text-gray-700 no-underline hover:underline" href="{{ index . 1 }}">
            {{ index . 0 }}
          </a>{{ if index . 2 }}
          &nbsp;<img src="{{ index . 2 }}" alt="logo" class="inline h-5 not-prose" />
          {{ end }}
        </li>
        {{ end }}
        {{ range .Pages }}
        <li><a class="text-gray-700 no-underline hover:underline" href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>
        </li>
        {{ end }}
      </ul>
    </div>
  </div>
</div>
{{ end }}
