[*]
indent_style = spaces
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_size = 4

[*.md]
trim_trailing_whitespace = false
indent_style = spaces

[*.{json,yml,toml}]
indent_style = space
indent_size = 2
