Carolin Helbig <carolin.helbig@ufz.de>
Chaofan Chen <chaofan.chen@ufz.de>
Christoph Lehmann <chleh@users.noreply.github.com> <christoph.lehmann@ufz.de>
Dmitri Naumov <dmitri.naumov@ufz.de> <github@naumov.de>
Dmitri Naumov <dmitri.naumov@ufz.de> Dmitrij Naumov <dmitrij@naumov.de>
Dmitri Naumov <dmitri.naumov@ufz.de> Dmitry Yu. Naumov <dmitri.naumov@ufz.de>
Francesco Parisio <francesco.parisio@ufz.de>
Francesco Parisio <francesco.parisio@ufz.de> fparisio <francesco.parisio@protonmail.com>
Haibing Shao <haibing.shao@ufz.de> <36633245+HBShaoUFZ@users.noreply.github.com>
Haibing Shao <haibing.shao@ufz.de> HBShaoUFZ
Jan Thiedau <jan.thiedau@bgr.de> <44462589+ThieJan@users.noreply.github.com>
Karsten Rink <karsten.rink@ufz.de>
Keita Yoshioka <keita.yoshioka@ufz.de>
Lars Bilke <bilke@users.noreply.github.com> <lars.bilke@ufz.de> <larsbilke83@googlemail.com>
Myles English <mylesenglish@gmail.com>
Norbert Grunwald <n.g.boettcher@gmail.com>
Norihiro Watanabe <norihiro.w@gmail.com> <norihiro.watanabe@aist.go.jp> <norihiro.watanabe@ufz.de>
OGS Bot <larsbilke@web.de>
Thomas Fischer <thomas.fischer@ufz.de> <123_tom_dabei@web.de> <Thomas.Fischer@ufz.de>
Thomas Fischer <thomas.fischer@ufz.de> Tom Fischer <Thomas.Fischer@ufz.de>
Wenqing Wang <wenqing.wang@ufz.de>
Yonghui Huang <huangyh56@gmail.com>
Yonghui Huang <huangyh56@gmail.com> Yonghui56 <huangyh56@gmail.com>
Yonghui Huang <huangyh56@gmail.com> Yonghui <huangyh56@gmial.com>
Tianyuan Zheng <ichbinzty@gmail.com>
Jasper Bathmann <jasper.bathmann@ufz.de>
Renchao Lu <renchao.lu@gmail.com>
Thomas Nagel <thomas.nagel@ufz.de>
Marc Walther <marc.walther@ufz.de>
Xing-Yuan Miao <miaoxingyuan@live.cn> <xing-yuan.miao@ufz.de>
Xing-Yuan Miao <miaoxingyuan@live.cn> xymiao
Xing-Yuan Miao <miaoxingyuan@live.cn> xingyuanmiao <xingyuanmiao@users.noreply.github.com>
