language: cpp

compiler:
  - gcc
  - clang

branches:
  only:
    - master

env:
  - CASE=CLI CMAKE_ARGS="-DOGS_BUILD_GUI=OFF -DOGS_BUILD_UTILS=ON"
  - CASE=CLI_PETSC CMAKE_ARGS="-DOGS_BUILD_GUI=OFF -DOGS_BUILD_UTILS=OFF -DOGS_USE_PETSC=ON -DPETSC_DIR=/usr/lib/petscdir/3.4.2/"
  - CASE=GUI CMAKE_ARGS="-DOGS_BUILD_GUI=ON -DVTK_DIR=/home/travis/build/ufz/ogs/VTK-Install/lib/cmake/vtk-6.1/"

before_install:
  # -- External package sources --
  - sudo add-apt-repository --yes ppa:boost-latest
  - if [[ "$CASE" == "CLI_PETSC" ]]; then sudo add-apt-repository --yes ppa:fenics-packages/fenics-dev; fi
  - travis_retry sudo apt-get update;

  # -- Install packages --
  - travis_retry sudo apt-get install libeigen3-dev

  # Boost
  - travis_retry sudo apt-get install libboost1.55-dev libboost-date-time1.55-dev libboost-filesystem1.55-dev libboost-program-options1.55-dev libboost-system1.55-dev

  # CMake
  - travis_retry wget https://launchpad.net/ubuntu/+source/cmake/2.8.8-2ubuntu1/+build/3441442/+files/cmake_2.8.8-2ubuntu1_amd64.deb; travis_retry wget https://launchpad.net/ubuntu/+archive/primary/+files/cmake-data_2.8.8-2ubuntu1_all.deb
  - sudo apt-get remove cmake-data cmake; sudo dpkg --install cmake-data_2.8.8-2ubuntu1_all.deb cmake_2.8.8-2ubuntu1_amd64.deb

  # Qt and VTK
  - if [[ "$CASE" == "GUI" ]]; then travis_retry sudo apt-get install qt4-dev-tools libshp-dev libgeotiff-dev libxt-dev; fi
  - if [[ "$CASE" == "GUI" ]]; then travis_retry wget http://www.opengeosys.org/images/dev/vtk-6.1.0.tar.gz; fi
  - if [[ "$CASE" == "GUI" ]]; then tar -xf vtk-6.1.0.tar.gz; fi

  # PetSc
  - if [[ "$CASE" == "CLI_PETSC" ]]; then travis_retry sudo apt-get install libpetsc3.4.2 libpetsc3.4.2-dev; fi

script:
  - "pwd & mkdir build && cd build && cmake $CMAKE_ARGS .. && cmake .. && make"
  - make test
  # PetSc
  - if [[ "$CASE" == "CLI_PETSC" ]]; then make test_mpi; fi

notifications:
  email:
    - lars.bilke@ufz.de
  campfire: ogs:43a83c669536b2fa948caf643650b6b46d50f809@531799
