sudo: true
language: cpp

compiler:
  - gcc
  - clang

addons:
  apt:
    sources:
      - ubuntu-toolchain-r-test
    packages:
      - g++-4.8
      - qt4-dev-tools
      - libxt-dev

cache:
  directories:
    - $HOME/cmake-3.1.1-Linux-x86_64
    - $HOME/VTK-Install
    - $HOME/boost_1_56_0

env:
  matrix:
    - CASE=CLI CMAKE_ARGS="-DOGS_BUILD_GUI=OFF -DOGS_BUILD_UTILS=ON"
    - CASE=GUI CMAKE_ARGS="-DOGS_BUILD_GUI=ON -DOGS_BUILD_CLI=OFF -DOGS_BUILD_TESTS=OFF"

before_install:
  - bash scripts/travis/cmake.sh

install:
  # Download conan
  - wget http://downloads.conan.io/latest_debian -O conan.deb
  - sudo dpkg -i conan.deb
  - rm conan.deb

  # Automatic detection of your arch, compiler, etc
  - conan install -s compiler=gcc -s compiler.version=4.8

before_script:
  - export PATH=$HOME/cmake-3.1.1-Linux-x86_64/bin:$PATH
  - if [ "$CC" == "gcc" ]; then export CXX=g++-4.8 CC=gcc-4.8; fi

script:
  - mkdir build
  - cd build
  - cmake $CMAKE_ARGS -DCMAKE_BUILD_TYPE=Debug ..
  - make -j 2
  - if [[ "$CASE" == "CLI" ]]; then make tests; fi

notifications:
  hipchat:
    rooms:
      secure: kmLyt50IGFuK96xbD+VzWRRzF6UU6SdVpsn1bolKQaTCCj1rz4H1np1iUML0jeGn86DAkkHPWmFXaS2JN0EoX8L74HavJSkUfIa49cegk0je986fxucaUV1fnhFIRh6EGkpqvqE+uXs/wKHkzrkYbpHaRvJgmxQSV9kR4yRuAmw=
