<div class="px-8 py-8 {{ .feature.direction | default " left "}} {{ .feature.class }}">
  <div class="container">

    {{ if or ( not .feature.layout ) ( or (eq .feature.layout "left") (eq .feature.layout "right") ) }}
    <div class="flex flex-wrap items-center -mx-4{{ if eq .feature.layout "right" }} flex-row-reverse{{ end }}">
      <div class="w-full md:w-1/2 md:px-4">
        <!-- <p class="leading-6 text-indigo-600 font-semibold tracking-wide uppercase">{{.feature.headline}}</p> -->
        <h2
          class="mt-2 mb:4 lg:mb-8 text-xl leading-8 font-bold tracking-tight text-gray-900 lg:text-3xl sm:leading-10">
          {{ if .feature.anchor }}<a id="{{ .feature.anchor }}"></a>{{ end}}{{ markdownify .feature.headline }}</h2>
        <div class="prose text-gray-600">
          {{ markdownify .feature.textline }}
        </div>
        <div class="flex my-4">
          {{ range .feature.links }}
          <a class="button mr-2 btn-{{ .feature.class }}" href="{{ .url }}">{{ markdownify .text }}</a>
          {{ end }}
        </div>
      </div>
      <div class="w-full md:w-1/2 md:px-4">
        {{ if .feature.visual }}
        <img class="{{ if .feature.visual.rounded }}rounded shadow-lg{{ end }}" src="{{ .feature.visual.permalink }}"
          alt="{{ .feature.visual.alt }}">
        {{ end }}
        {{ if .feature.carousel }}
        {{ partial "components/carousel" (dict "carousel" .feature.carousel "page" .page) }}
        {{ end }}
      </div>
      {{ partial "components/subfeatures" .feature.subfeatures }}
    </div>
    {{ end }}
    {{ if eq .feature.layout "vertical" }}
    <div class="flex flex-wrap text-center">
      <div class="w-full">
        <h1 class="mt-2 mb-8 text-xl leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl sm:leading-10">
          {{ markdownify .feature.headline }}
        </h1>
        <div class="prose text-gray-600">
          {{ markdownify .feature.textline }}
        </div>
      </div>
      <div class="w-full">
        {{ partial "components/subfeatures" .feature.subfeatures }}
      </div>
      <div class="w-full">
        <img src="{{ .feature.visual.permalink }}">
      </div>
    </div>
    {{ if .feature.carousel }}
    {{ partial "components/carousel" (dict "carousel" .feature.carousel "page" .page) }}
    {{ end }}
    {{ end }}
    {{ if .feature.gallery }}
    {{ partial "components/gallery" (dict "gallery" .feature.gallery "page" .page) }}
    {{ end }}
  </div>
</div>
