<div class="py-8 {{ .direction | default " left "}} {{ .class }}">
  <div class="container">

    {{- if or (eq .layout "left") (eq .layout "right") -}}
    <div class="flex flex-wrap items-center -mx-4{{ if eq .layout "right" }} flex-row-reverse{{ end }}">
      <div class="w-full md:w-1/2 md:px-4">
        <h2 class="uppercase">{{ markdownify .headline }}</h2>
        <div>
          {{ markdownify .textline }}
        </div>
        <div class="flex my-4">
        {{- range .links -}}
        <!-- <div class="w-1/2"> -->
          <a class="button mr-2 btn-{{ .class }}" href="{{ .url }}">{{ .text }}</a>
        <!-- </div> -->
        {{- end -}}
        </div>
      </div>
      <div class="w-full md:w-1/2 md:px-4">
        <img src="{{ .visual.permalink }}">
      </div>
      {{- partial "components/subfeatures" .subfeatures }}
    </div>
    {{- end -}}
    {{- if eq .layout "vertical" -}}
    <div class="flex flex-wrap text-center">
      <div class="w-full">
        <h2 class="border-0 uppercase">{{ markdownify .headline }}</h2>
        <div>
          {{ markdownify .textline }}
        </div>
      </div>
      <div class="w-full">
        {{- partial "components/subfeatures" .subfeatures }}
      </div>
      <div class="w-full">
        <img src="{{ .visual.permalink }}">
      </div>
    </div>
    {{- end -}}

  </div>
</div>
</div>
