<li>
  <a href="{{ .Permalink }}">
    <div class="space-y-4">
      <div class="aspect-w-3 aspect-h-2">

        {{ $white_image := resources.Get "images/white.png" }}
        {{ $image := .Resources.GetMatch .Params.image }}
        {{ if not $image }}
          {{ range first 1 (.Resources.ByType "image") }}
            {{ $image = . }}
          {{ end }}
          {{ if not $image }}
            {{ $image = $white_image }}
          {{ end }}
        {{ end }}
        {{ $image := $image.Fit "600x400" }}
        <img class="object-cover shadow-lg rounded-lg no-fancybox border" src="{{ $image.RelPermalink }}" alt="">

      </div>
      <div class="space-y-2">
        <div class="space-y-1">
          <h3 class="text-center">{{ .Title }}</h3>
        </div>
      </div>
    </div>
  </a>
</li>
