<div class="mb-4 md:mb-8 lg:mb-12">
  <div class="container">
    <div class="flex flex-wrap items-center justify-center">
      <div>
        <h1 class="border-0 text-4xl md:text-6xl lg:text-8xl" style="line-height: 1.3;">Open<span
            class="text-brand">GeoSys</span>
        </h1>
        <h2 class="text-right uppercase text-xs md:text-base lg:text-lg border-b-0 border-t-2">{{ .headline }}</h2>
      </div>
    </div>
    <div class="prose mt-3 max-w-md mx-auto md:mt-5 md:text-lg lg:text-xl md:max-w-3xl">
      {{ markdownify .textline }}
    </div>
  </div>
</div>
