<div class="container">
  <div class="flex flex-wrap">
    <div class="w-full md:w-1/2 px-4 md:px-2">
      <h2 class="mt-0">News</h2>
      <div class="py-0 lg:px-4">
        <ul id="news">
        </ul>
      </div>
    </div>

    <div class="w-full md:w-1/2 px-4 md:px-2">
      <h2 class="mt-0">Discussions</h2>
      <div class="py-0 lg:px-4">
        <div x-data="" x-init="
          fetch('https://discourse.opengeosys.org/c/usability.json')
          .then(response => response.json())
          .then(data => topics = data.topic_list.topics.slice(0, 3))">
          <ul>
            <template x-for="topic in topics" :key="topic.id">
              <li>
                <a x-bind:href="'https://discourse.opengeosys.org/t/' + topic.slug" x-text="topic.title"></a>
              </li>
            </template>
          </ul>
        </div>

      </div>
    </div>

    <div class="w-full px-4 md:px-2">
      <h2 class="mt-0">Latest Benchmarks</h2>
      <div class="py-0 lg:px-4">
        {{ template "latest-pages" .}}
      </div>
    </div>
  </div>
</div>

{{ define "latest-pages" }}
<ul>

  {{ range first 8 (where .Site.RegularPages "CurrentSection.RelPermalink" "/docs/benchmarks/").ByLastmod.Reverse }}
  <li>
    <!-- Two weeks -->
    <a href="{{ .Permalink }}">
      <i class="fa{{if gt (sub now.Unix .Lastmod.Unix) 1209600}}l{{else}}s{{end}} fa-plus-circle"></i>
      {{ .Title }}
    </a>
  </li>
  {{ end }}
</ul>
{{ end }}
