{{ $citationKey := .Get 0 }}
{{ $publication := false }}
{{ range where .Site.RegularPages "Section" "publications" }}
  {{ if eq (lower (.Params.citationKey | default "")) (lower $citationKey) }}
    {{ $publication = . }}
  {{ end }}
{{ end }}

{{ if not $publication }}
  {{ errorf "bib shortcode: publication entry %q not found" $citationKey }}
{{ end }}

{{ $authors := $publication.Params.authors | default (slice) }}
{{ $doi := $publication.Params.doi | default "" }}
{{ $doiUrl := "" }}
{{ $doiLabel := "" }}
{{ if $doi }}
  {{ if or (hasPrefix $doi "http://") (hasPrefix $doi "https://") }}
    {{ $doiUrl = $doi }}
    {{ $doiLabel = replaceRE "^https?://(dx\\.)?doi\\.org/" "" $doi }}
  {{ else }}
    {{ $doiUrl = printf "https://doi.org/%s" $doi }}
    {{ $doiLabel = $doi }}
  {{ end }}
{{ end }}

<span class="bib-entry">
  {{ if gt (len $authors) 0 }}
    {{ delimit $authors ", " }}
  {{ end }}
  {{ with $publication.Params.year }} ({{ . }}){{ end }}:
  <a href="{{ $publication.RelPermalink }}"><span class="italic">{{ $publication.Title | safeHTML }}</span></a>.
  {{ with $publication.Params.journal }}{{ . }}, {{ end }}
  {{ with $publication.Params.booktitle }}{{ . }}, {{ end }}
  {{ with $publication.Params.issue }}Issue {{ . }}, {{ end }}
  {{ with $publication.Params.number }}No. {{ . }}, {{ end }}
  {{ with $publication.Params.volume }}vol. {{ . }}, {{ end }}
  {{ with $publication.Params.pages }}p. {{ . }}, {{ end }}
  {{ with $publication.Params.isbn }}ISBN: {{ . }}, {{ end }}
  {{ with $publication.Params.publisher }}{{ . }}, {{ end }}
  {{ with $publication.Params.institution }}{{ . }}, {{ end }}
  {{ with $doiUrl }}
    DOI:<a href="{{ . }}" class="mt-4">{{ $doiLabel }}</a>
  {{ end }}
  {{ with $publication.Params.sourceUrl }}
    <a href="{{ . }}" class="mt-4">{{ . }}</a>
  {{ end }}
  <a href="{{ $publication.RelPermalink }}" class="mt-4 inline-flex items-center">
    Details&nbsp;<i class="far fa-arrow-right text-xs align-top"></i>
  </a>
</span>
