{{ if .PrevInSection | or .NextInSection }}

{{ $segments := split .RelPermalink "/" }}
{{ $subsection := index $segments 2 }}

<div class="footer-nav">
  <div class="row between-xs">
    <div class="col-xs-6">
      {{ if .NextInSection }}
        {{ $nextSubsection := index (split .NextInSection.RelPermalink "/") 2 }}
        {{ if eq $nextSubsection $subsection }}
          <a href="{{ .NextInSection.Permalink }}" title="{{ .NextInSection.Permalink }}">
            <span>Previous</span>
            <div class="nav-title">
              {{ .NextInSection.Title }}
            </div>
          </a>
        {{ end }}
      {{ end }}
    </div>
    <div class="col-xs-6">
      {{ if .PrevInSection }}
        {{ $prevSubsection := index (split .PrevInSection.RelPermalink "/") 2 }}
        {{ if eq $prevSubsection $subsection }}
          <span class="tr">
            <a href="{{ .PrevInSection.Permalink }}" title="{{ .PrevInSection.Permalink }}">
              <div>Next</div>
              <div class="nav-titl  e">
              {{ .PrevInSection.Title   }}
            </div>
            </a>
          </span>
          {{ end }}
      {{ end }}
    </div>
  </div>
</div>
{{ end }}
