<footer class="text-gray-700 body-font">
  <div class="px-5 py-8 mx-auto flex items-center sm:flex-row flex-col">
    <p class="text-sm text-gray-500 sm:ml-4 sm:pl-4 sm:border-gray-200 sm:py-2 sm:mt-0 mt-4 mb-0">© {{ dateFormat "2006" now }}
      OpenGeoSys Community, <a href="/imprint">Privacy policy / Legal statements / Impressum</a></p>
    <span class="inline-flex sm:ml-auto sm:mt-0 mt-4 justify-center sm:justify-start">

      <a class="ml-3" rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
        <img alt="Creative Commons License" style="border-width:0"
          src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" />
      </a>
      <a class="ml-3" href="https://www.netlify.com">
        <img style="height: 31px;" src="https://www.netlify.com/img/global/badges/netlify-dark.svg"
          alt="Deploys by Netlify" />
      </a>
    </span>
  </div>
</footer>
