<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <meta name="description" content="OpenGeoSys">
  <meta name="author" content="OpenGeoSys Community">

  <link rel="stylesheet" href="/css/normalize.css">
  <link rel="stylesheet" href="/css/flexboxgrid.min.css">
  <link rel="stylesheet" href="/css/main.css">

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
      TeX: { equationNumbers: { autoNumber: "AMS" } }
    });
  </script>
  <script type="text/javascript" async
    src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>

  <title>{{ .Title }}</title>
</head>

<body>
  <div class="container">
    <nav>
      <a href="/" class="black b">opengeosys.org</a>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" {{if $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}>{{ .Name }}</a>
      {{ end }}
    </nav>
    {{ if .Site.Params.alert }}
    <div class="flex items-center justify-center pa2 bg-lightest-blue navy">
      <svg class="w1" data-icon="info" viewBox="0 0 32 32" style="fill:currentcolor">
        <title>info icon</title>
        <path d="M16 0 A16 16 0 0 1 16 32 A16 16 0 0 1 16 0 M19 15 L13 15 L13 26 L19 26 z M16 6 A3 3 0 0 0 16 12 A3 3 0 0 0 16 6"></path>
      </svg>
      <span class="lh-title ml3">{{ .Site.Params.alert | safeHTML }}</span>
    </div>
    {{ end }}
    <div class="row">
