<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <meta name="description" content="OpenGeoSys">
  <meta name="author" content="OpenGeoSys Community">

  <link rel="stylesheet" href="/css/main.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]},
      TeX: { equationNumbers: { autoNumber: "AMS" } }
    });
  </script>
  <script type="text/javascript" async
    src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.1/MathJax.js?config=TeX-MML-AM_CHTML">
  </script>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>

  <title>{{ .Title }}</title>
</head>

<body>
  <div class="container">
    <nav>
      <a href="/" class="black b">benchmarks.opengeosys.org</a>
      {{ $currentPage := . }}
      {{ range .Site.Menus.main }}
        <a href="{{ .URL }}" {{if $currentPage.IsMenuCurrent "main" . }} class="active"{{end}}>{{ .Name }}</a>
      {{ end }}
    </nav>
    {{ if .Site.Params.alert }}
    <div class="f6 flex items-center justify-center pa2 bg-lightest-blue navy">
      <i class="fas fa-exclamation-triangle"></i>
      <span class="lh-title ml3">{{ .Site.Params.alert | safeHTML }}</span>
    </div>
    {{ end }}
    <div class="row">
