<form class="w-full max-w-sm text-sm md:text-base" id="site-search-form" role="search">
  <fieldset class="flex items-center justify-end">
    <label class="block" for="search-input">
      <span class="hidden lg:inline-block"><i class="far fa-search mr-1"></i></span class="hidden md:block">
      <input type="search" id="search-input" class="bg-gray-200 appearance-none border-2 border-gray-200 hover:border-orange rounded w-auto px-2 text-gray-600" placeholder="Search the Docs" name="email-address" value="">
  </label>
  </fieldset>
</form>
