@tailwind preflight;

@tailwind components;

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700');

body {
  color: config('mycolors.text-default');
}
/* -- Links -- */
a {
  color: config('mycolors.text-primary');
  @apply .no-underline;
}
a:hover {
  color: config('mycolors.text-accent');
}
a.active {
  color: config('mycolors.text-accent');
}
nav a {
  color: config('mycolors.text-default');
}
nav a.active {
  color: config('mycolors.text-default');
  @apply .border-b-2;
  /* @apply .border-orange; */
  border-color: config('mycolors.text-accent');
}

/* -- Typography -- */
h1, h2, h3, h4, h5, h6 {
  @apply .font-serif;
  @apply .font-medium;
  @apply .mt-6;
  @apply .mb-4;

}

h2, h3 {
  @apply .border-b .border-grey-dark;
}

h1 {
  @apply .mt-0;
}

p, ul, pre {
  @apply .mb-4;
}

.inverse {
  color: config('mycolors.text-inverse');
  background-color: config('mycolors.bg-inverse');
}

.inverse a {
  color: config('mycolors.text-inverse');
  @apply .border-b;
  border-color: config('mycolors.text-accent');
}
.inverse a:hover {
  border-color: config('mycolors.text-inverse');
  color: config('mycolors.text-accent');
}

/* -- Navigation -- */
.nav-item {
  @apply .mr-4;
  @apply .text-sm;

  &:last-child {
    @apply .mr-0;
  }
}

@screen md {
  .nav-item {
    @apply .mr-8;
    @apply .text-base;
  }
}

/* -- OS selector -- */
.os-div {
  @apply .-ml-4;
  @apply .pl-4;
  @apply .border-l-2;
}

.win {
  @apply .os-div;
  @apply .border-green-lighter;
}

.linux {
  @apply .os-div;
  @apply .border-orange-lighter;
}

.mac {
  @apply .os-div;
  @apply .border-blue-lighter;
}

#btn-win.active {
  @apply .text-green;
  @apply .border-green;
}

#btn-linux.active {
  @apply .text-orange;
  @apply .border-orange;
}

#btn-mac.active {
  @apply .text-blue;
  @apply .border-blue;
}

#btn-win:hover {
  @apply .border-green;
}
#btn-linux:hover {
  @apply .border-orange;
}
#btn-mac:hover {
  @apply .border-blue;
}

/* -- Misc -- */
hr {
  @apply .border;
}

a.anchorjs-link {
  @apply .border-0;
}

table {
  @apply .w-full;
}

/* -- Buttons -- */
a.button {
  @apply .bg-white .text-grey-darkest .py-4 .px-8 .border .border-grey-light .shadow .rounded-lg;
  @apply .font-serif .font-medium .uppercase;
  color: config('mycolors.text-primary');
}
a.button:hover {
  @apply .bg-grey-lightest;
}

a.btn-inverse {
  background: config('mycolors.bg-inverse');
  color: config('mycolors.text-inverse');
}
a.btn-inverse:hover {
  background: config('mycolors.bg-default');
  color: config('mycolors.text-accent');
}

/* ------------------------------- Components ------------------------------- */
.btn {
  @apply text-grey-darkest;
  @apply .px-2;
  @apply .py-1;
  @apply .border-b-2;
  @apply .cursor-pointer;
}

.btn.active {
  @apply .border-orange;
}

.note {
  @apply .bg-orange-lightest;
  @apply .px-4;
  @apply .py-1;
  @apply .mb-4;
  @apply .border-l-4;
  @apply .border-orange;
  @apply .-ml-4;
}

.note h3 {
  @apply .text-orange;
  @apply .mb-2;
}

/* ----------------------------- Slick Carousel ----------------------------- */
@import url("//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick.css");
@import url("//cdn.jsdelivr.net/gh/kenwheeler/slick@1.8.1/slick/slick-theme.css");
.slick-prev:before,
.slick-next:before {
  font-size: 24px;
  color: config('mycolors.text-primary');
}

.slick-dots li button:before,
.slick-dots li.slick-active button:before {
  font-size: 8px;
  color: config('mycolors.text-primary');
}

.inverse .slick-prev:before,
.inverse .slick-next:before {
  color: config('mycolors.text-inverse');
}

/* Vertically center images */
.slick-initialized .slick-track {
  display: flex;
  align-items: center;
}

/* -------------------------------- Algolia---------------------------------- */
.algolia-autocomplete .aa-input, .algolia-autocomplete .aa-hint {
  /*width: 100%;*/
}
.algolia-autocomplete .aa-hint {
  color: #999;
}
.algolia-autocomplete .aa-dropdown-menu {
  @apply .bg-grey-lightest;
  @apply .border-2;
  @apply .p-1;
  @apply .text-sm;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion {
  @apply .cursor-pointer;
  @apply .p-1;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion.aa-cursor {
  @apply .bg-blue-lighter;
}
.algolia-autocomplete .aa-dropdown-menu .aa-suggestion em {
  @apply .font-bold;
  @apply .text-orange;
}

@tailwind utilities;

@import 'pandoc-highlighting';
@import url("https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.css");
