{{ define "main" }}

<div class="flex w-full">

  <div class="space-y-5 sm:space-y-4 md:max-w-xl lg:max-w-3xl xl:max-w-none">

    <ul role="list" class="grid grid-cols-1 gap-x-6 gap-y-8 lg:grid-cols-3 xl:gap-x-8">

      {{ $all := slice
      (dict "taxonomy" "Project" "term" "EURAD" "pages" (index .Site.Taxonomies.projects "eurad") "showTitle" false)
      (dict "taxonomy" "Model" "term" "ANALYTICAL" "pages" (index .Site.Taxonomies.models "analytical") "showTitle"
      true)
      (dict "taxonomy" "Project" "term" "DECOVALEX" "pages" (index .Site.Taxonomies.projects "decovalex") "showTitle"
      false)
      (dict "taxonomy" "Model" "term" "material" "pages" (index .Site.Taxonomies.models "material") "showTitle" true)
      (dict "taxonomy" "Custom" "term" "SPECIAL" "pages"
      (dict
      "Page" (dict
      "Title" .Title
      "Params" (dict "abbreviation" "HUB")
      "RelPermalink" "/hub/"
      "Color" "1"
      )
      "showTitle" true
      )
      )
      (dict "taxonomy" "Model" "term" "processes" "pages" (index .Site.Taxonomies.models "processes") "showTitle" true)
      (dict "taxonomy" "Model" "term" "lab" "pages" (index .Site.Taxonomies.models "lab") "showTitle" true)
      (dict "taxonomy" "Model" "term" "url" "pages" (index .Site.Taxonomies.models "url") "showTitle" true)
      (dict "taxonomy" "Model" "term" "field" "pages" (index .Site.Taxonomies.models "field") "showTitle" true)
      }}

      {{ range $all }}
      {{ $logo := false }}
      {{ if .pages }}
      {{ $logo = .pages.Page.Resources.Get "logo.svg" }}
      {{ if not $logo }}
      {{ $logo = .pages.Page.Resources.Get "logo.png" }}
      {{ end }}
      {{ if not $logo }}
      {{ $logo = .pages.Page.Resources.Get "logo.jpg" }}
      {{ end }}
      {{ end }}
      {{ if $logo }}
      <li class="overflow-hidden rounded-xl outline outline-1 outline-gray-200">
        <a href="{{ .pages.Page.RelPermalink }}">
          {{ if .showTitle}}
          <div class="-my-3 divide-y divide-gray-100 bg-gray-50 px-6 pt-6">
            <div class="text-gray-500 text-center">
              <span class="uppercase">{{ .pages.Page.Title | safeHTML }}</span>
            </div>
          </div>
          {{ end }}
          <div class="items-center gap-x-4 border-b border-gray-900/5 bg-gray-50 p-6">
            {{ with $logo }}
            <img src="{{ .RelPermalink }}" alt="Logo"
              class="w-full h-48 p-2 flex-none rounded-lg bg-white object-contain ring-1 ring-gray-900/10 no-fancybox" />
            {{ end }}
          </div>
        </a>
      </li>
      {{ else }}
      {{ if eq .taxonomy "Custom" }}
      <li
        class="overflow-hidden rounded-xl outline outline-1 outline-gray-200 content-center bg-blue-600 text-gray-100">
        {{ else }}
      <li class="overflow-hidden rounded-xl outline outline-1 outline-gray-200 content-center bg-gray-50 text-gray-500">
        {{ end }}
        <a href="{{ .pages.Page.RelPermalink }}">
          <div class="-my-3 divide-y divide-gray-100 px-6 pt-6">
            <div class="text-center leading-10 text-2xl ">
              <span class="uppercase">{{ .pages.Page.Title | safeHTML }}</span>
            </div>
          </div>
        </a>
      </li>
      {{ end }}
      {{ end }}
    </ul>
  </div>

</div>

{{ end }}
