{{ $entry := "" }}
{{ $data := $.Site.Data.news.items }}
{{ $slug := lower .Title }}
{{ $slug := replace $slug " " "-" }}
{{ range where $data "fields.slug" $slug }}

  {{ $entry := . }}

  {{ partial "header.html" . }}

    {{/* comment
    <div class="col-xs-12">
      <p>ID = {{ $entry.sys.id }}</p>
    </div>
    */}}

    <div class="col-xs-12">
      <h1>{{ $entry.fields.title }}</h1>
      {{ $authorLink := index $entry.fields.authors 0 }}
      {{ range where $.Site.Data.news.includes.Entry "sys.id" $authorLink.sys.id }}
        {{ $author := . }}
        <h4>By {{ $author.fields.name }}</h4>
      {{ end }}

      {{ $entry.fields.body | markdownify}}
    </div>

  {{ partial "footer.html" . }}
{{ end }}
