{{ if .Site.Data.bibliography }}
	<p>
		{{ $id := .Get "id" }}
		{{ range where .Site.Data.bibliography "id" $id }}
      {{ $len := (len .author) }}
			{{ range $index, $element := .author }}
				{{ $element.family }}, {{ $element.given}} {{ if ne (add $index 1) $len }}and{{ end }}
			{{ end }}
			({{ range .issued }}
				{{ range . }}
					{{ range . }}
						{{.}}
					{{ end }}
				{{ end }}
			{{ end }}):
			<i>{{ .title }}</i>.
			 <!-- Workaround for keys with hyphens inside with index-function -->
			{{ if isset . "container-title" }}{{ index . "container-title" }}{{ end }}
			{{ if isset . "issue" }}{{ .issue }},{{ end }}
			{{ if isset . "volume" }}vol. {{ .volume }},{{ end }}
			{{ if isset . "page" }}p. {{ .page }},{{ end }}
      {{ if isset . "DOI" }}DOI: <a href="https://doi.org/{{ .DOI }}">{{ .DOI }}</a>,{{ end }}
      {{ if isset . "ISBN" }}ISBN: {{ .ISBN }},{{ end }}
			{{ .publisher }}
		{{ end }}
	</p>
{{ else }}
	{{ printf "Warning: Bibliography not converted! Missing bib id: "}}<code>{{.Get "id"}}</code>
{{ end }}
