{{ if gt (len .Params) 0 }}
{{ $link_text := .Get 0 }}
{{ $prj_file := .Get 0 }}

{{ if eq (len .Params) 2 }}
{{ $prj_file = .Get 1 }}
{{ else if gt (len .Params) 2 }}
{{ errorf "%q: must give 1 or 2 parameter for data-link shortcode!" $.Page.File.Path }}
{{ end }}

{{ if os.FileExists "Tests" }}
{{ $filePath := print "Tests/Data/" $prj_file }}
{{ if os.FileExists $filePath }}
{{ else }}
{{ errorf "%q: Project file does not exist: %q" $.Page.File.Path . }}
{{ end }}
{{ end }}

<a href="https://gitlab.opengeosys.org/ogs/ogs/-/blob/master/Tests/Data/{{ $prj_file }}">
    <i class="far fa-arrow-right"></i>
    {{ $link_text | markdownify }}
</a>

{{ else }}

<ul>
    {{ with .Page.Params.project }}
    {{ range . }}

    {{ if os.FileExists "Tests" }}
    {{ $filePath := print "Tests/Data/" .}}
    {{ if os.FileExists $filePath }}
    {{ else }}
    {{ errorf "%q: Project file does not exist: %q" $.Page.File.Path . }}
    {{ end }}
    {{ end }}

    <li>
        <a href="https://gitlab.opengeosys.org/ogs/ogs/-/blob/master/Tests/Data/{{ . }}">
            <i class="far fa-arrow-right"></i>
            {{ . }}
        </a>
    </li>
    {{ end }}
    {{ end }}
</ul>

{{ end }}
