languageCode = "en-us"
title = "OpenGeoSys"
theme = "ogs"
baseURL = "https://www.opengeosys.org"
buildDrafts = false
buildFuture = true
enableGitInfo = true
canonifyURLs = true
staticDir = ["dist", "static"]
disableKinds = ["taxonomyTerm"]

[params]
  alert = ""

# Main menu
[[menu.main]]
  name = "Books"
  url = "/books/"
  identifier = "books"
  weight = 2
[[menu.main]]
  name = "Releases"
  url = "/releases/"
  identifier = "releases"
  weight = 3
[[menu.main]]
  name = "Docs"
  url = "/docs/"
  identifier = "docs"
  weight = 4

# Devguide sidebar menu top-level categories
[[menu.devguide]]
  name = "Getting Started"
  identifier = "getting-started"
  weight = 1

[[menu.devguide]]
  name = "Development Workflows"
  identifier = "development-workflows"
  weight = 2

[[menu.devguide]]
  name = "Testing"
  identifier = "testing"
  weight = 3

[[menu.devguide]]
  name = "Advanced"
  identifier = "advanced"
  weight = 4

[[menu.devguide]]
  name = "Troubleshooting"
  identifier = "troubleshooting"
  weight = 5

[[menu.devguide]]
  name = "Procedures"
  identifier = "procedures"
  weight = 6

# Benchmarks sidebar top-level categories
[[menu.benchmarks]]
  name = "Elliptic"
  identifier = "elliptic"
  weight = 1
[[menu.benchmarks]]
  name = "Small Deformations"
  identifier = "small-deformations"
  weight = 2
[[menu.benchmarks]]
  name = "Heatconduction"
  identifier = "heatconduction"
  weight = 3
[[menu.benchmarks]]
  name = "Heat Transport BHE"
  identifier = "heat-transport-bhe"
  weight = 11
[[menu.benchmarks]]
  name = "Richards Flow"
  identifier = "richards-flow"
  weight = 4
[[menu.benchmarks]]
  name = "Hydro-Mechanics"
  identifier = "hydro-mechanics"
  weight = 5
[[menu.benchmarks]]
  name = "Thermo-Hydro-Mechanics"
  identifier = "thermo-hydro-mechanics"
  weight = 7
[[menu.benchmarks]]
  name = "Hydro-Thermal"
  identifier = "hydro-thermal"
  weight = 6
[[menu.benchmarks]]
  name = "Liquid Flow"
  identifier = "liquid-flow"
  weight = 8
[[menu.benchmarks]]
  name = "Two-phase Flow"
  identifier = "two-phase-flow"
  weight = 9
[[menu.benchmarks]]
  name = "Python Boundary Conditions"
  identifier = "python-bc"
  weight = 10

# Quickstart sidebar top-level categories
[[menu.userguide]]
  name = "Basics"
  identifier = "basics"
  weight = 1
[[menu.userguide]]
  name = "Process Dependent Configuration"
  identifier = "process-dependent-configuration"
  weight = 2
[[menu.userguide]]
  name = "Post Processing"
  identifier = "post-processing"
  weight = 3
[[menu.userguide]]
  name = "Troubleshooting"
  identifier = "troubleshooting"
  weight = 4

# Tools sidebar top-level categories
[[menu.tools]]
  name = "Getting Started"
  identifier = "getting-started"
  weight = 1

[[menu.tools]]
  name = "Meshing: Bulk meshes"
  identifier = "meshing"
  weight = 2

[[menu.tools]]
  name = "Meshing: Subdomains"
  identifier = "meshing-submeshes"
  weight = 3

[[menu.tools]]
  name = "Model Preparation"
  identifier = "model-preparation"
  weight = 4

[[menu.tools]]
  name = "Workflows"
  identifier = "workflows"
  weight = 5
